html, body {
	position: relative;
	/* height: 100%; */
}

body {
	color: #225765;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

.horizontal5 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 2fr 2fr 1fr;
	gap: 5px 5px;
	grid-template-areas: "map map map map widget" "chart chart table table widget" "description description description description description";
}

.horizontal4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 5px 5px;
	grid-template-areas: "map map map map widget" "chart chart table table widget";
}

.horizontal3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 5px 5px;
	grid-template-areas: "map map map map widget" "chart chart table table widget";
}

.horizontal2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 5px 5px;
	grid-template-areas: "map map map map widget" "chart chart table table widget";
}

.horizontal1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 5px 5px;
	grid-template-areas: "map map map map widget" "chart chart table table widget";
}

.horizontal0 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 5px 5px;
	grid-template-areas: "map map map map widget" "chart chart table table widget";
}

.description {
	white-space: pre-wrap;
	margin: 5px;
	font-size: small;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.header-text-mob {
	position: absolute;
	font-size: x-small;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.header-desk img {
	width: 100%;
}
.header-mob img {
	width: 100%;
}


.header-desk {
	text-align: center;
	position: relative;
	font-size: x-large
}
.header-mob {
	display: none;
	text-align: center;
	position: relative;
}

textarea {
	width: 95vw;
	margin-left: 1vw;
	margin-top: 1vh;
	resize: none;
}

@media (max-width: 1150px) {
	.header-mob {
		display: block;
	}
	.header-desk {
		display: none;
	}
	
	.horizontal5 {
		grid-template-columns: 1fr;
		grid-template-rows: 4fr 15fr 5fr 6fr;
		grid-template-areas: "map" "widget" "chart" "table";
	}
	.horizontal4 {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr 1fr 2fr;
		grid-template-areas: "map" "widget" "chart" "table";
	}
	.horizontal3 {
		grid-template-columns: 1fr;
		grid-template-rows: 5fr 15fr 6fr 10fr;
		grid-template-areas: "map" "widget" "chart" "table";
	}
	.horizontal2 {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr 2fr;
		grid-template-areas: "map" "widget" "chart" "table";
	}
	.horizontal1 {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr 2fr;
		grid-template-areas: "map" "widget" "chart" "table";
	}
	.horizontal0 {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 2fr;
		grid-template-areas: "map" "widget" "chart" "table";
	}
	.internal-table {
		font-size: 69%;
	}
}

.map {
	margin-left: 5px;
	grid-area: map;
	min-height: 35vh;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.chart {
	grid-area: chart;
}

.language {
	font-size: medium;
	position: absolute;
	z-index: 999;
	right: 0.5em;
	top: 0.5em;
}

.active {
	background-color: #be6445;
}

.widget-header {
	background-color: #fff;
	color: #1F4E79;
	text-align: left;
	padding: 0.2em
	/* margin: 1em */
}

.widget5 {
	max-height: 50em;
	grid-area: widget;
	color: #fff;
	/* background-color: #074171; */
	margin-left: 0px;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 5fr 5fr 5fr 5fr 5fr 5fr;
	gap: 5px 1px;
	grid-template-areas: "widget-header" "issued" "day1" "day2" "day3" "day4" "day5";
}

.widget4 {
	max-height: 45em;
	grid-area: widget;
	color: #fff;
	/* background-color: #074171; */
	margin-left: 0px;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 5fr 5fr 5fr 5fr 5fr;
	gap: 5px 1px;
	grid-template-areas: "widget-header" "issued" "day1" "day2" "day3" "day4";
}

.widget3 {
	max-height: 35em;
	grid-area: widget;
	color: #fff;
	/* background-color: #074171; */
	margin-left: 0px;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 5fr 5fr 5fr 5fr;
	gap: 5px 1px;
	grid-template-areas: "widget-header" "issued" "day1" "day2" "day3";
}

.widget2 {
	max-height: 30em;
	grid-area: widget;
	color: #fff;
	/* background-color: #074171; */
	margin-left: 0px;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 5fr 5fr 5fr;
	gap: 5px 1px;
	grid-template-areas: "widget-header" "issued" "day1" "day2";
}

.widget1 {
	max-height: 25em;
	grid-area: widget;
	color: #fff;
	/* background-color: #074171; */
	margin-left: 0px;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 5fr 5fr;
	gap: 5px 1px;
	grid-template-areas: "widget-header" "issued" "day1";
}

.widget0 {
	max-height: 15em;
	grid-area: widget;
	color: #fff;
	/* background-color: #074171; */
	margin-left: 0px;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px 1px;
	grid-template-areas: "widget-header" "issued";
}

img {
	/* height: 100%; */
	max-height: 100%;
	/* max-width: 100%; */
}

.issued {
	position: relative;
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 5px 1px;
	grid-template-areas: "source" "img-src";
	color: #1F4E79;
	background-color: #fff;
	grid-area: issued;
}
.issued :hover {
	cursor: pointer;
}

.img-src {
	max-width: 100%;
	grid-area: img-src;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-src img {
	max-width: 100%;
}

.source {
	max-width: 100%;
	grid-area: source;
	text-align: left;
}

.day1 {
	background-color: #1F4E79;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "weekday1 weekday1" "date1 date1" "icon1 icon1" "min1 max1";
	grid-area: day1;
}

.weekday1 {
	grid-area: weekday1;
}

.date1 {
	grid-area: date1;
}

.icon1 {
	grid-area: icon1;
}

.min1 {
	grid-area: min1;
}

.max1 {
	grid-area: max1;
}

.day2 {
	display: grid;
	background-color: #1F4E79;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "weekday2 weekday2" "date2 date2" "icon2 icon2" "min2 max2";
	grid-area: day2;
}

.weekday2 {
	grid-area: weekday2;
}

.date2 {
	grid-area: date2;
}

.icon2 {
	grid-area: icon2;
}

.min2 {
	grid-area: min2;
}

.max2 {
	grid-area: max2;
}

.day3 {
	background-color: #1F4E79;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "weekday3 weekday3" "date3 date3" "icon3 icon3" "min3 max3";
	grid-area: day3;
}

.weekday3 {
	grid-area: weekday3;
}

.date3 {
	grid-area: date3;
}

.icon3 {
	grid-area: icon3;
}

.min3 {
	grid-area: min3;
}

.max3 {
	grid-area: max3;
}

.day4 {
	background-color: #1F4E79;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "weekday4 weekday4" "date4 date4" "icon4 icon4" "min4 max4";
	grid-area: day4;
}

.weekday4 {
	grid-area: weekday4;
}

.date4 {
	grid-area: date4;
}

.icon4 {
	grid-area: icon4;
}

.min4 {
	grid-area: min4;
}

.max4 {
	grid-area: max4;
}

.day5 {
	background-color: #1F4E79;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "weekday5 weekday5" "date5 date5" "icon5 icon5" "min5 max5";
	grid-area: day5;
}

.weekday5 {
	grid-area: weekday5;
}

.date5 {
	grid-area: date5;
}

.icon5 {
	grid-area: icon5;
}

.min5 {
	grid-area: min5;
}

.max5 {
	grid-area: max5;
}

.table {
	grid-area: table;
}

.internal-table {
	max-height: 25em;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
	grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 2px 2px;
	grid-template-areas: "month mean_min mean_max mean_precip rain_days" "jan jan1 jan2 jan3 jan4" "feb feb1 feb2 feb3 feb4" "mar mar1 mar2 mar3 mar4" "apr apr1 apr2 apr3 apr4" "may may1 may2 may3 may4" "jun jun1 jun2 jun3 jun4" "jul jul1 jul2 jul3 jul4" "aug aug1 aug2 aug3 aug4" "sep sep1 sep2 sep3 sep4" "oct oct1 oct2 oct3 oct4" "nov nov1 nov2 nov3 nov4" "dec dec1 dec2 dec3 dec4";
	background-color: #E4EEED;
}

.month {
	padding-top: 15px;
	font-size: small;
	grid-area: month;
	background-color: #1F4E79;
	color: #fff;
	vertical-align: middle;
}

.mean_min {
	padding-bottom: 5px;
	grid-area: mean_min;
	font-size: small;
	background-color: #1F4E79;
	color: #fff;
}

.mean_max {
	font-size: small;
	grid-area: mean_max;
	background-color: #1F4E79;
	color: #fff;
}

.mean_precip {
	font-size: small;
	grid-area: mean_precip;
	background-color: #1F4E79;
	color: #fff;
}

.rain_days {
	font-size: small;
	grid-area: rain_days;
	background-color: #1F4E79;
	color: #fff;
}

.jan {
	grid-area: jan;
	background-color: #1F4E79;
	color: #fff;
}

.feb {
	grid-area: feb;
	background-color: #1F4E79;
	color: #fff;
}

.mar {
	grid-area: mar;
	background-color: #1F4E79;
	color: #fff;
}

.apr {
	grid-area: apr;
	background-color: #1F4E79;
	color: #fff;
}

.may {
	grid-area: may;
	background-color: #1F4E79;
	color: #fff;
}

.jun {
	grid-area: jun;
	background-color: #1F4E79;
	color: #fff;
}

.jul {
	grid-area: jul;
	background-color: #1F4E79;
	color: #fff;
}

.aug {
	grid-area: aug;
	background-color: #1F4E79;
	color: #fff;
}

.sep {
	grid-area: sep;
	background-color: #1F4E79;
	color: #fff;
}

.oct {
	grid-area: oct;
	background-color: #1F4E79;
	color: #fff;
}

.nov {
	grid-area: nov;
	background-color: #1F4E79;
	color: #fff;
}

.dec {
	grid-area: dec;
	background-color: #1F4E79;
	color: #fff;
}

.jan1 {
	grid-area: jan1;
	background-color: #fff;
}

.jan2 {
	grid-area: jan2;
	background-color: #fff;
}

.jan3 {
	grid-area: jan3;
	background-color: #fff;
}

.jan4 {
	grid-area: jan4;
	background-color: #fff;
}

.feb1 {
	grid-area: feb1;
	color: #fff;
	background-color: #1F4E79;
}

.feb2 {
	grid-area: feb2;
	color: #fff;
	background-color: #1F4E79;
}

.feb3 {
	grid-area: feb3;
	color: #fff;
	background-color: #1F4E79;
}

.feb4 {
	grid-area: feb4;
	color: #fff;
	background-color: #1F4E79;
}

.mar1 {
	grid-area: mar1;
	background-color: #fff;
}

.mar2 {
	grid-area: mar2;
	background-color: #fff;
}

.mar3 {
	grid-area: mar3;
	background-color: #fff;
}

.mar4 {
	grid-area: mar4;
	background-color: #fff;
}

.apr1 {
	grid-area: apr1;
	color: #fff;
	background-color: #1F4E79;
}

.apr2 {
	grid-area: apr2;
	color: #fff;
	background-color: #1F4E79;
}

.apr3 {
	grid-area: apr3;
	color: #fff;
	background-color: #1F4E79;
}

.apr4 {
	grid-area: apr4;
	color: #fff;
	background-color: #1F4E79;
}

.may1 {
	grid-area: may1;
	background-color: #fff;
}

.may2 {
	grid-area: may2;
	background-color: #fff;
}

.may3 {
	grid-area: may3;
	background-color: #fff;
}

.may4 {
	grid-area: may4;
	background-color: #fff;
}

.jun1 {
	grid-area: jun1;
	color: #fff;
	background-color: #1F4E79;
}

.jun2 {
	grid-area: jun2;
	color: #fff;
	background-color: #1F4E79;
}

.jun3 {
	grid-area: jun3;
	color: #fff;
	background-color: #1F4E79;
}

.jun4 {
	grid-area: jun4;
	color: #fff;
	background-color: #1F4E79;
}

.jul1 {
	grid-area: jul1;
	background-color: #fff;
}

.jul2 {
	grid-area: jul2;
	background-color: #fff;
}

.jul3 {
	grid-area: jul3;
	background-color: #fff;
}

.jul4 {
	grid-area: jul4;
	background-color: #fff;
}

.aug1 {
	grid-area: aug1;
	color: #fff;
	background-color: #1F4E79;
}

.aug2 {
	grid-area: aug2;
	color: #fff;
	background-color: #1F4E79;
}

.aug3 {
	grid-area: aug3;
	color: #fff;
	background-color: #1F4E79;
}

.aug4 {
	grid-area: aug4;
	color: #fff;
	background-color: #1F4E79;
}

.sep1 {
	grid-area: sep1;
	background-color: #fff;
}

.sep2 {
	grid-area: sep2;
	background-color: #fff;
}

.sep3 {
	grid-area: sep3;
	background-color: #fff;
}

.sep4 {
	grid-area: sep4;
	background-color: #fff;
}

.oct1 {
	grid-area: oct1;
	color: #fff;
	background-color: #1F4E79;
}

.oct2 {
	grid-area: oct2;
	color: #fff;
	background-color: #1F4E79;
}

.oct3 {
	grid-area: oct3;
	color: #fff;
	background-color: #1F4E79;
}

.oct4 {
	grid-area: oct4;
	color: #fff;
	background-color: #1F4E79;
}

.nov1 {
	grid-area: nov1;
	background-color: #fff;
}

.nov2 {
	grid-area: nov2;
	background-color: #fff;
}

.nov3 {
	grid-area: nov3;
	background-color: #fff;
}

.nov4 {
	grid-area: nov4;
	background-color: #fff;
}

.dec1 {
	grid-area: dec1;
	color: #fff;
	background-color: #1F4E79;
}

.dec2 {
	grid-area: dec2;
	color: #fff;
	background-color: #1F4E79;
}

.dec3 {
	grid-area: dec3;
	color: #fff;
	background-color: #1F4E79;
}

.dec4 {
	grid-area: dec4;
	color: #fff;
	background-color: #1F4E79;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input, select {
	font-family: inherit;
	font-size: inherit;
	padding: 0.2em;
	width: 16vw;
	margin: 1px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	outline: none;
	width: 100%;
	color: white;
	background-color: #225765;
	border-width: 0px;
	border-style: none;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
	border-image: initial;
	font-family: inherit;
	font-size: inherit;
	padding: 0.2em;
	margin: 1px;
}

main {
	text-align: center;
	max-width: 1240px;
	margin: 0 auto;
}

h1 {
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
}

.sideblock {
	width: 25vw;
	margin: 1vw;
	margin-top: 1vh;
}

div.scrollmenu {
	margin: auto;
}

div.scrollmenu a {
	color: white;
	background-color: #225765;
	text-align: center;
	padding: 8px;
	margin: 15px;
	text-decoration: none;
}

/* div.scrollmenu a:hover {
	color: green
} */

.leaflet-marker-icon {
	/* background-image: url("../assets/marker.svg"); */
	background-size: 8px;
	text-align: center;
	line-height: 30px;
	color: black;
}